.container-container {
  display: flex;
  justify-content: center; 
  /* border: 2px solid blue; */
  margin-left: 75px;
}

.all-spots-container {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  /* border: 2px solid red;  */
  gap: 20px;
  width: 90%;  
  max-width: 1250px;
}

.all-spots-card {
  /* border: 1px solid black; */
  width: 250px;
  height: 300px;
  display: flex;
}

.all-spots-pic {
  width: 100%;
  height: 80%;
  object-fit: cover;
  /* border: 2px solid orange; */
}

.bottom-half {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
  width: 100%;
}

.top-line {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

.all-spots-p {
  margin: 0px;
}

