#create-booking-modal {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 5px 20px 35px;
  width: 300px;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

#create-booking-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#date-inputs-div {
  display: flex;
  gap: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(224, 224, 224);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  border: 2px solid gray;
}

.booking-button {
  background-color: #ff5a5a;
  width: -webkit-fill-available;
  color: white;
  padding: 10px 0px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-size: 12px;
  margin-top: 20px;
}

