#submit-review-button {
  margin-top: 30px;
  background-color: #ff5a5a;
  width: 25%;
  color: white;
  padding: 3px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-size: 12px;
}

#disabled-review-button {
  margin-top: 30px;
  background-color: #ffbcbc;
  width: 25%;
  color: rgb(99, 99, 99);
  padding: 3px;
  border: 2px solid rgb(99, 99, 99);
  box-shadow: 2px 2px rgb(99, 99, 99);
  font-size: 12px;
}