.hidden {
  display: none
}

#logo {
  max-width: 100px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 10px;
  border-bottom: 2px solid rgba(185, 185, 185, 0.65);
  height: 60px;
}

#create-spot-link-nav {
  color:rgb(1, 156, 184);
  font-weight:bold;
}

#profile-button-icon-container {
  display: flex;
  gap: 4px;
}

#profile-button {
  padding: 10px 13px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

#right-nav-span {
  width: 250px;
  gap: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}


/******Profile Button CSS ↓↓*********/
#drop-down-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  position: absolute;
  height: 220px;
  width: 150px;
  right: 45px;
  top: 60px;
  padding: 7px 0px 10px;
}

#drop-down-menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 100px;
  right: 45px;
  top: 60px;
  position: absolute;
  background-color: white;
  padding: 15px 10px;
}

.dropdown-p {
  font-size: 13px;
  margin: 4px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-email {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 95%
}

.manage-link {
  font-size: 13px;
  margin: 4px 0px;
  border-bottom: 1px solid black;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

#logout-button {
  background-color: rgb(99, 99, 99);
  color: white;
  border-radius: 20px;
  margin-top: 7px;
  padding: 10px 13px;
  font-size: 12px;
}

#login-link {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100%;
  font-size: 13px;
}

#signup-link {
  padding-top: 9px;
  font-size: 13px;
}