#login-modal {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 15px 20px 25px;
  width: 300px;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#login-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#demo {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(1, 156, 184);
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding-top: 20px;
} 

.login-input {
  width: 100%;
  box-sizing: border-box;
}

/* #login-red-button {
  background-color: #ff5a5a;
  width: -webkit-fill-available;
  color: white;
  padding: 10px 0px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-size: 12px;
  margin: 20px 0px;
} */

